<!DOCTYPE html>
<html>
<head>
  <title>Registers</title>
</head>
<body>
  <h1>Registers</h1>
  <ul>
    {{#each registers}}
      <li>{{this.username}} - {{this.email}}</li>
    {{/each}}
  </ul>
</body>
</html>
