<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{!-- <link rel="stylesheet" href="/css/style.css"> --}}
    <link rel="stylesheet" href="/css/room.css">

</head>
<body>
    {{>navbar}}
    
    <div class="fullcard">
        <div class="picture"><img src="" alt=""></div>
            <div class="alldetails">

                <div class="rooms">Rooms Two</div>
                
                <div class="aaram">
                <div class="faceliyie">Features</div>
                <div class="Features">
                <div class="allfeatures">2 rooms</div>
                <div class="allfeatures">bathroom</div>
                <div class="allfeatures">bathroom</div>
                </div>
                </div>

                <div class="feleliti">
                <div class="faceliyie">Facalities</div>
                <div class="Facalities">
                <div class="allfacalitie">AC</div>
                <div class="allfacalitie">WIFI</div>
                <div class="allfacalitie">Water Cooler</div>
                </div>
                </div>
                                
                <div class="suite">
                <div class="sutable">Suitable</div>
                <div class="Suitable">
                <div class="Families">Famalies</div>
                <div class="Families">Girls</div>
                </div>
                </div>
                
                <div class="cost">
                <div class="Rantal">Rental</div>
                <div class="rupees">
                <div class="rupay">500₹</div>
                </div>
                </div>

                <div class="Rate">
                <div class="Rating">Rating</div>
                <div class="rates">
                <div class="atributes_rate">4.3</div>
                <div class="atributes_rate">4  Peoples</div>
                </div>
                </div>
            </div>
                <div class="bookingbtns">
                    <a href="/more"><button class="BM">More Details</button></a>
                <button class="BM">Book Now</button>
                </div>
            </div>

            
    <div class="fullcard">
        <div class="picture"></div>
            <div class="alldetails">

                <div class="rooms">Rooms Two</div>
                
                <div class="aaram">
                <div class="faceliyie">Features</div>
                <div class="Features">
                <div class="allfeatures">2 rooms</div>
                <div class="allfeatures">1 bathroom</div>
                <div class="allfeatures">balcony</div>
                </div>
                </div>

                <div class="feleliti">
                <div class="faceliyie">Facalities</div>
                <div class="Facalities">
                <div class="allfacalitie">AC</div>
                <div class="allfacalitie">WIFI</div>
                <div class="allfacalitie">Water Cooler</div>
                </div>
                </div>
                                
                <div class="suite">
                <div class="sutable">Suitable</div>
                <div class="Suitable">
                <div class="Families">Famalies</div>
                <div class="Families">Girls</div>
                </div>
                </div>
                
                <div class="cost">
                <div class="Rantal">Rental</div>
                <div class="rupees">
                <div class="rupay">500₹</div>
                </div>
                </div>

                <div class="Rate">
                <div class="Rating">Rating</div>
                <div class="rates">
                <div class="atributes_rate">4.3</div>
                <div class="atributes_rate">4  Peoples</div>
                </div>
                </div>
            </div>
                <div class="bookingbtns">
                    <a href="/more"><button class="BM">More Details</button></a>
                <button class="BM">Book Now</button>
                </div>
            </div>

            
    <div class="fullcard">
        <div class="picture"></div>
            <div class="alldetails">

                <div class="rooms">Rooms Two</div>
                
                <div class="aaram">
                <div class="faceliyie">Features</div>
                <div class="Features">
                <div class="allfeatures">2 rooms</div>
                <div class="allfeatures">1 bathroom</div>
                <div class="allfeatures">balcony</div>
                </div>
                </div>

                <div class="feleliti">
                <div class="faceliyie">Facalities</div>
                <div class="Facalities">
                <div class="allfacalitie">AC</div>
                <div class="allfacalitie">WIFI</div>
                <div class="allfacalitie">Water Cooler</div>
                </div>
                </div>
                                
                <div class="suite">
                <div class="sutable">Suitable</div>
                <div class="Suitable">
                <div class="Families">Famalies</div>
                <div class="Families">Girls</div>
                </div>
                </div>
                
                <div class="cost">
                <div class="Rantal">Rental</div>
                <div class="rupees">
                <div class="rupay">500₹</div>
                </div>
                </div>

                <div class="Rate">
                <div class="Rating">Rating</div>
                <div class="rates">
                <div class="atributes_rate">4.3</div>
                <div class="atributes_rate">4  Peoples</div>
                </div>
                </div>
            </div>
                <div class="bookingbtns">
                    <a href="/more"><button class="BM">More Details</button></a>
                <button class="BM">Book Now</button>
                </div>
            </div>

            
<div class="footer">
    <div class="weblogo">
        Take_YR_PG
    </div>
    <div class="pages">
        <a>Home</a>
        <a>Rooms</a>
        <a>Hostel</a>
        <a>aboutUs</a>
        <a>Register</a>
    </div>
    <div class="servicess">
        <a>PG_Book</a>
        <a>Hostel_book</a>
        <a>Room_Book</a>
    </div>
    <div class="contact">
        <div class="nober">Mob NO:8955273002</div>
        <div class="email">Email ID:takeyrpg@gmail.com</div>
        <div class="addres">Akshay Patrey, Jagatpura, Jaipur</div>
    </div>
</div>

{{!-- <div class="footertxt">This Website made By Garvit Arora </div> --}}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    
</body>
</html>